
@mixin hoverPointer {
    &:hover {
        cursor: pointer;
        text-decoration: none;
    }
}
@mixin border10 {
    border-radius: 10px;
}

@mixin resetDefault {
    background: none;
    border: none;
}

@mixin gridCenter {
    display: grid;
    place-items: center;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexAlignCenter {
    display: flex;
    align-items: center;
}
@mixin flexLeft {
    display: flex;
    align-items: left;
    justify-content: center;
}



@mixin flexSpread {
    display: flex;
    justify-content: space-between;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin showAll {
    * {
        outline: 1px solid black;
    }
}