@import '../partials/base';
@import '../partials/colors';
@import '../partials/fonts';
@import '../partials/mixins';
@import '../partials/screens';

.header {
   @include flexSpread;

   & > div {
      @include flexAlignCenter;

      //user name
      span {
         display: none;
         font-weight: 400;
      }
   }

   //avatar
   img {
      width: 30px;
      height: 30px;
      border-radius: 100%;
   }

   //1200px
   @include desktop {
      margin-bottom: 37px;

      & > div {

         img {
            width: 48px;
            height: 48px;
         }

         //user name
         span {
            display: inline-block;
            margin-left: 14px;
         }
      }
   }
}