@import '../partials/base';
@import '../partials/colors';
@import '../partials/fonts';
@import '../partials/mixins';
@import '../partials/screens';


.password {
   form {
      max-width: 385px;

      &>div {
         margin-bottom: 20px;


         &>div {
            @include flexAlignCenter;

            button {
               @include hoverPointer;
               @include flexCenter;
               padding: 0px 17.48px 0px 5px;
               border-top-right-radius: 10px;
               border-bottom-right-radius: 10px;
               border: 1px solid $grey;
               border-left: none !important;
               background: none;
               height: 48px;
            }
         }

         //pasword validation
         &:nth-of-type(4) {
            &>span {
               display: block;
               margin-bottom: 10px;


               svg {
                  margin-right: 9.17px;
               }
            }

            .condition-null {
               color: #828282;
            }

            .condition-pass {
               color: #66C27C;

               path {
                  fill: #66C27C;
               }

            }
         }
      }
   }

   label {
      font-weight: 500;
      display: block;
      margin-bottom: 8px;
      color: $black;
   }

   input {
      padding-left: 14px;

      &:not(&[type=submit]) {
         border-right: none;
         border-top-right-radius: 0px;
         border-bottom-right-radius: 0px;
      }

      &:focus {
         border: 1px solid $blue;
         border-right: none;

         &~button {
            border: 1px solid $blue;

            path {
               fill: $blue;
            }
         }
      }

      &[type=submit] {
         margin-top: 35px;

      }
   }
}