@import '../partials/base';
@import '../partials/colors';
@import '../partials/fonts';
@import '../partials/mixins';
@import '../partials/screens';

.container {
   min-height: 100vh;
   max-height: 100vh;
   background: linear-gradient(to bottom, #D9D9D9, #F5F5F5);
   @include gridCenter;
   color: $blue;
   text-align: center;

   div {
      width: 80%;
      max-width: 500px;
      margin: auto;
   }

   img {
      display: block;
      width: 100%;
      margin-bottom: 50px;
   }

   h2 {
      font-size: 50px;
   }
   
   p{
       font-weight: 500;
       margin-bottom: 30px;
   }

   .primary-btn {
      max-width: 385px;
      margin: 0 auto;
   }

   //992px 
   @include laps{
      h2{
         font-size: 75px;
      }

      p{
         font-size: 20px;
      }
   }

   //1200px
   @include desktop {
      div {
         max-width: 600px;
      }
   }
}

