@import '../partials/base';
@import '../partials/colors';
@import '../partials/fonts';
@import '../partials/mixins';
@import '../partials/screens';

.signup {
   min-height: 100vh;
   min-width: 280px;
 
   & > div {
      //slideshow 
      &:first-child {
      
      }
 
      //forms + interactions
      &:nth-child(2) {
         z-index: 2; 
         background: $white;
         padding-top: 13vh;
         display: flex;
         flex-direction: column;
         align-items: center;

         //logo
         & > a {
            display: block;
            margin: 0px auto 50px auto
         }

         
         h2, p {
            text-align: center
         }

         & > div { 
            width: 90%;
            max-width: 385px;
            color: $black;

            
            
            h2 {
               margin-bottom: 1.11vh
            }

            form {
               //password validation
               & > div {
                  margin-top: 45px;

                  &>span {
                  display: block;
                  margin-bottom: 10px;


                  svg {
                     margin-right: 9.17px;
                  }
                  }

                  .condition-null {
                  color: #828282;
                  }

                  .condition-pass {
                  color: #66C27C;

                  path {
                     fill: #66C27C;
                  }

                  }
               }
            }

            //subheading
            & > p{
               margin-bottom: 3.78vh;
               font-weight: 400;

               a {
                  color: $blue;
               }
            }

            label {
               color: $black;
               font-weight: 500;
            }

            input {
               
               padding-left: 20px;
               margin-bottom: 1.78vh;
               margin-top: 1.11vh;
               font-weight: 400;
               
               &[type="submit"] {
                  color: white;
                  @include hoverPointer;
                  margin-bottom: 2.22vh;
                  margin-top: 41px;
                  padding-left: 0;
                  padding: 14px 0px;
                  font-weight: 500;

                  &:hover {
                  background: #1b205fed;
                  }
               }
            }

            .login-error-mssg {
               display: block;
               color: rgb(253, 97, 97);

               margin: 7px 0px 10px 0px;
            }


            //forgot password
            & > a {
               display: block;
               width: max-content;
               margin: auto;
               color: #9C9CA4;
            }

            //google & facebook signin
            .third-party-signup {
               // margin-bottom: 50px;

               p {
                  text-align: center;
                  margin-top: 4.89vh;
                  margin-bottom: 2.67vh;
               }

               button  {
                  @include hoverPointer;
                  background: $white;
                  color: #2E2C34;
                  @include flexCenter;
                  margin-bottom: 2.22vh;

                  img {
                  margin-right: 12px;
                  }

                  &:hover {
                  border: 1px solid $black;
                  }

               }
            }
         }
        
   
         .user-selector-container {
            max-width: 453px;

            x

            h2 {
               margin-bottom: unset;
            }

            h2, p {
               text-align: center
            }
         }
         .user-selector {

            & > div {
               @include flexSpread;
               margin-bottom: 50px;

               //each selection
               & > div {
                  width: 47%;
               }
            }

            input {
               display: none;
               &:checked {
                  & ~ label {
                     border: 3px solid $blue;

                     span {
                        color: $blue;
                     }
         
                     path {
                        fill: $blue;
                     }
                  }
               }
            }


            label {
               @include gridCenter;
               @include hoverPointer;  
               padding: 5.13vh 3.96vh;
               border: 3px solid #858282;
               border-radius: 10px;
               max-height: 179px;

               svg {
                  margin-bottom: 9px;
               }

               span {
                  display: block;
                  color: $grey;
                  font-weight: 500;
               }

               &:hover {
                  border: 3px solid $blue;

                  span {
                     color: $blue;
                  }

                  path {
                     fill: $blue;
                  }
               }
            }

         }
         .email-verification {
         text-align: center;

         button {
               margin-top: 30px;
         }
         }
         .password-creation {
         input[type=submit] {
               margin-top: 12.76vh;
         }

         form {
            & > div {
               margin-bottom: 0px;
               margin-top: 35px;
               flex-direction: column;

               & > div {
                  @include flexAlignCenter;

                  button {
                     @include hoverPointer;
                     @include flexCenter;
                     padding: 0px 17.48px 0px 5px;
                     border-top-right-radius: 10px;
                     border-bottom-right-radius: 10px;
                     border: 1px solid $grey;
                     border-left: none !important;
                     background: none;
                     height: 48.4px;
                     min-height: 100%;

                     @include tabs {
                        height: 100%;
                        min-height: 48px;
                     }
                  }
               }
            }

            //pasword validation
            &:nth-of-type(4) {
            & > span {
                     display: block;
                     margin-bottom: 10px;
                     

                     svg {
                        margin-right: 9.17px;
                     }
               }
               .condition-null {
                     color: #828282;
               }
               .condition-pass {
                     color: #66C27C;

                     path {
                        fill: #66C27C;
                     }

               }
            }
         }
         label {
               font-weight: 500;
               display: block;
               margin-bottom: 8px;
               color: $black;
            }
            input {
               padding-left: 14px;
               margin: unset;

               &:not(&[type=submit]) {
                  border-right: none;
                  border-top-right-radius: 0px;
                  border-bottom-right-radius: 0px;
               }

               &:focus{
                  border: 1px solid $blue;
                  border-right: none;

                  & ~ button {
                     border: 1px solid $blue;
                     path {
                           fill: $blue;
                     }
                  }
               }

               &[type=submit] {
                  margin-top: 35px;

               }
            }        
         }
         .account-created {
         text-align: center;

         img {
            margin-top: 20px;
               margin-bottom: 100px
         }
         }
         .account-created-verf {
            form {
               label {
                  font-weight: 500;
                  display: block;
                  margin-bottom: 10px;
               }

               & > div {
                  margin-top: unset;
               }

               //id type
               select {
                  display: none;
               }
               .dummy-id-catg {
                  position: relative;

                  &_select {
                     padding-right: 20px;
                     padding-left: 20px;
                     @include hoverPointer;
                     color: $grey;
                     margin-bottom: 1.78vh;
                  }

                  &_options {
                     position: absolute;
                     background: $white;
                     width: 100%;
                     overflow: hidden;
                     border-radius: 10px;
                     overflow: hidden;
                     box-shadow: 0px 244px 98px rgba(0, 0, 0, 0.01), 0px 137px 82px rgba(0, 0, 0, 0.05), 0px 61px 61px rgba(0, 0, 0, 0.09), 0px 15px 34px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

                     & > div {
                        padding: 14px;

                        &:hover {
                           color: $blue;
                           background: rgba(0, 0, 0, 0.058);
                     }
                     }
                  }
               }

               //id file
               input[type="file"] {
                  display: none;
               }
               .dummy-id-doc-input {
                  padding-right: 20px;
                  padding-left: 20px;
                  margin-bottom: 1.78vh;
                  @include hoverPointer;
               }

               //website


               //socials
               .id-social-field {
                  @include flexAlignCenter;
                  padding: 0px 0px 0px 20px;
                  position: relative;

                  &:not(:last-of-type) {
                     margin-bottom: 10px;
                  }


                  //socials select + list
                  & > div {
                     @include hoverPointer;
                     position: relative;

                     //select
                     & > div {
                        @include flexAlignCenter;

                        svg {
                           width: 20px;                     }
                     }
                  }

                  ul {
                     position: absolute;
                     background: $white;
                     margin-top: 18px;
                     margin-left: -20px;
                     border-radius: 10px;
                     overflow: hidden;
                     box-shadow: 0px 244px 98px rgba(0, 0, 0, 0.01), 0px 137px 82px rgba(0, 0, 0, 0.05), 0px 61px 61px rgba(0, 0, 0, 0.09), 0px 15px 34px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

                     li {
                        padding: 10px 38px 10px 15px;

                        &:hover {
                           color: $blue;
                           background: rgba(0, 0, 0, 0.058);
                     }
                     }

                     label {
                        font-weight: 400;
                        margin-bottom: unset;
                     }
                  }

                  input[type="radio"] {
                     display: none;
                  }

                  input[type="text"] {
                     @include resetDefault;
                     padding: 14px 10px;
                     margin: unset;
                     height: 100%;
                     width: 100%;
                  }
               }
               //new social
               button {
                  color: $blue;
                  display: block;
                  margin-top: 2px;
                  @include resetDefault;
                  @include hoverPointer;
               }
            }
         }

      }
   }

   //992px
   @include laps {
      display: flex;

      &_interactions {
         margin-top: -50px;
      }
      
      & > div {
         width: 50%;

         //sildeshow + headings
         &:first-child {
           
         }

         //forms + interactions
         &:nth-child(2) { 
            //logo
            & > a {
               display: none;
            }

            h2, p {
               text-align: left
            }

            .sign-up {
               margin-top: -40px;
            }

            .user-selector-container {
               h2 {
                //   margin-bottom: unset;
               }

               h2, p {
                  text-align: left
               }
            }

            .account-created {
               p {
                  margin-bottom: 61px;
               }
               img {
                  margin: auto;
                  margin-top: 0;
                  margin-bottom: 183px;
               }
            }
               
            .password-creation {
            button {
               height: 47.4px;
            }
            }
           
         }
      }
   }

   @include laps-VW {
      & > div {
         //sildeshow + headings
         &:first-child {
           
         }
 
         //forms + interactions
         &:nth-child(2) {
           padding-top: 8vh;
 
           & > div {
             transform: scale(0.92);
 
             //google & facebook signin
             & > div:last-child {
               margin-bottom: 0;
             }
           }
           
           .user-selector-container {
             margin-top: 4.4vh;
           }        
         }
      }
   }

   //1200px
   @include desktop {
      & > div {

         //sildeshow 
         &:first-child {
           
         }
 
         //forms + interactions
         &:nth-child(2) {
           
         }
       }
   }

   //1440px
   @include desktopX {
       
      & > div {

         //sildeshow
         &:first-child {
            
         }
 
         //forms + interactions
         &:nth-child(2) {
          
         }
      }
   }
}
 